# This is a basic workflow to help you get started with Actions

name: format-lint-test

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  format-lint-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: torch-kindle
          environment-file: environment.yml
          python-version: 3.7
          auto-activate-base: false
      - shell: bash -l {0}
        run: |
          conda info
          conda list

      # Install requirements
      - name: Install requirements
        shell: bash -l {0}
        run: make dev

      - name: Formatting check
        shell: bash -l {0}
        run: make format

      - name: Linting check
        shell: bash -l {0}
        run: make lint
      
      - name: Unit test
        shell: bash -l {0}
        run: make test

